.side-bar
  .side-bar__user-name
    .top-items
      %h3.name 
        name
      %ul.main_icon
        %li.top-items__icons 
          = link_to icon('fas','edit', class: "icon")
        %li.top-items__icons 
          = link_to icon('fas','cog', class: "icon")
  .side-bar__group-list
    %ul.group
      techcamp
      %li.group-message
        まだメッセージがありません。
    %ul.group
      techcamp
      %li.group-message
        まだメッセージがありません。
